@{
    ViewBag.Title = "Front template demo";
}
<!-- Start Page Body -->

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">This is a demonstration of the <a href="http://guildfordbc.github.io/front-template/">front template Nuget package</a> for Guildford Borough Council applications.</p>

<p>The HTML source of this page has comments to indicate the start/end of sections.</p>

<p>For help, please <a href="https://github.com/GuildfordBC/front-template/issues/new">submit a new issue</a>.</p>

<!-- End Page Body -->